<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<h1>Registro de nuevo usuario</h1>
<form method="POST" action="/persona/guardar">
  <label>Nombres Completos:</label>
  <input type="text" name="nombre" /><br />
  <label>Usuario:</label>
  <input type="text" name="apellido" /><br />
  <label>Correo:</label>
  <input type="text" name="dni" /><br />
  <label>Contraseña:</label>
  <input type="text" name="dni" /><br />
  <label>Repita su contraseña:</label>
  <input type="text" name="dni" /><br />
  <input type="submit" value="Registrar" />
</form>

</body>
</html>